<ion-header [translucent]="true">
<ion-toolbar color ="danger">
  <ion-title> Pokémon </ion-title>
</ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Pokédex</h1>
  <ion-searchbar placeholder="Buscar Pokemon"></ion-searchbar>

<ion-grid>
  <ion-row>
   <ion-col *ngFor="let pokemon of listaPokemon" size="6">
        <ion-card color="electric">
          <ion-card-header>
          <img 
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png"
            /> 
            <ion-card-subtitle class="ion-text-end">#025</ion-card-subtitle>
            <ion-card-title>Pikachu</ion-card-title>
            </ion-card-header>
            <ion-card-content>
            <span>
              <ion-badge color="electric">Electric</ion-badge>
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
